nav {
    width: 25%;
}

@media screen and (max-width: 1400px) {
    nav {
        width: 30%;
    }
}

@media screen and (max-width: 900px) {
    nav {
        width: 50%;
    }
}


nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 4%;
}

nav ul li {
    display: block;
    text-decoration: none;
    list-style: none;
    border-bottom: 2px solid var(--color-3);
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 500ms;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: var(--color-3);
    padding:  5px 10px;
}


nav ul li:hover{
    background: var(--color-4);
}